<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="background-color: #1956c9; color: white">
      Apie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <strong>Aplikacija:&nbsp; </strong> Vilko orai
          </ion-item>
          <ion-item>
            <strong>Versija:&nbsp; </strong>1.0.0
          </ion-item>
          <ion-item>
            <strong>Apie:&nbsp; </strong> Paprasta orų aplikacija
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
