<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vilko orų prognozė
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home" >
  <ion-grid *ngIf="data">
    <ion-row>
      <ion-col widht-50 offset-25>
        <h2 class="location">{{data.name}}, {{data.sys.country}}</h2>
        <div class="icon" *ngFor="let ikona of data.weather"><img src="http://openweathermap.org/img/w/{{ikona.icon}}.png" alt=""></div>
        <h3 class="desc" *ngFor="let detales of data.weather">{{detales.description}}</h3>
        <h1 class="temp">{{data.main.temp}}&deg;C</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <strong>Temp:</strong>{{data.main.temp}}&deg;C
          </ion-item>
          <ion-item>
            <strong>Feels like:</strong>{{data.main.feels_like}}&deg;C
          </ion-item>
          <ion-item>
            <strong>Drėgmė:</strong>{{data.main.humidity}} %
          </ion-item>
          <ion-item>
            <strong>Slėgis:</strong>{{data.main.pressure}} hPa
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    </ion-grid>

</ion-content>
