<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title style="background-color: #1956c9; color: white">
      Vilko orų prognozė
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home" >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="data" style="background-color: #9ab7ec;">
    <ion-row >
      <ion-col>
        <h2 class="location">{{data.name}}, {{data.sys.country}}</h2>
        <div class="icon" *ngFor="let ikona of data.weather"><img src="http://openweathermap.org/img/w/{{ikona.icon}}.png" alt=""></div>
        <h3 class="desc" *ngFor="let detales of data.weather">{{detales.description}}</h3>
        <h1 class="temp">{{data.main.temp}}&deg;C</h1>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col >
        <ion-list >
          
          <ion-item>
            <strong>Jutiminė temperatūra:&nbsp;</strong>{{data.main.feels_like}}&deg;C
          </ion-item>
          <ion-item>
            <strong>Drėgmė:&nbsp;</strong>{{data.main.humidity}} %
          </ion-item>
          <ion-item>
            <strong>Slėgis:&nbsp;</strong>{{data.main.pressure}} hPa
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    </ion-grid>

    
    
</ion-content>
