<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="background-color: #1956c9; color: white">
      Nustatymai
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <p>Įveskite miesto pavadinimą</p>
          <form (ngSubmit)="saveForm()">
            <ion-item>
              <ion-label fixed>
                Miestas

              </ion-label>
              <ion-input [(ngModel)]="city" name="miestas" type="text"></ion-input>
            </ion-item>
            <button ion-button type="submit" block class="mygtukas">Išsaugoti</button>

          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
